html {
            box-sizing: border-box;
            -webkit-text-size-adjust: 100%
        }

        *,
        *:before,
        *:after {
            box-sizing: inherit
        }

        body {
            margin: 0;
            padding: 0;
            text-rendering: optimizeLegibility;
            -webkit-font-smoothing: antialiased;
            color: rgba(0, 0, 0, 0.8);
            position: relative;
            min-height: 100vh
        }

        h1,
        h2,
        h3,
        h4,
        h5,
        h6,
        dl,
        dd,
        ol,
        ul,
        menu,
        figure,
        blockquote,
        p,
        pre,
        form {
            margin: 0
        }

        menu,
        ol,
        ul {
            padding: 0;
            list-style: none;
            list-style-image: none
        }

        main {
            display: block
        }

        a {
            color: inherit;
            text-decoration: none
        }

        a,
        button,
        input {
            -webkit-tap-highlight-color: transparent
        }

        img,
        svg {
            vertical-align: middle
        }

        button {
            background: transparent;
            overflow: visible
        }

        button,
        input,
        optgroup,
        select,
        textarea {
            margin: 0
        }

        :root {
            --reach-tabs: 1;
            --reach-menu-button: 1
        }

        #speechify-root {
            font-family: Sohne, sans-serif
        }

        div[data-popper-reference-hidden="true"] {
            visibility: hidden;
            pointer-events: none
        }

        /*XCode style (c) Angel Garcia <angelgarcia.mail@gmail.com>*/
        .hljs {
            background: #fff;
            color: black;
        }

        /* Gray DOCTYPE selectors like WebKit */
        .xml .hljs-meta {
            color: #c0c0c0;
        }

        .hljs-comment,
        .hljs-quote {
            color: #007400;
        }

        .hljs-tag,
        .hljs-attribute,
        .hljs-keyword,
        .hljs-selector-tag,
        .hljs-literal,
        .hljs-name {
            color: #aa0d91;
        }

        .hljs-variable,
        .hljs-template-variable {
            color: #3F6E74;
        }

        .hljs-code,
        .hljs-string,
        .hljs-meta .hljs-string {
            color: #c41a16;
        }

        .hljs-regexp,
        .hljs-link {
            color: #0E0EFF;
        }

        .hljs-title,
        .hljs-symbol,
        .hljs-bullet,
        .hljs-number {
            color: #1c00cf;
        }

        .hljs-section,
        .hljs-meta {
            color: #643820;
        }

        .hljs-title.class_,
        .hljs-class .hljs-title,
        .hljs-type,
        .hljs-built_in,
        .hljs-params {
            color: #5c2699;
        }

        .hljs-attr {
            color: #836C28;
        }

        .hljs-subst {
            color: #000;
        }

        .hljs-formula {
            background-color: #eee;
            font-style: italic;
        }

        .hljs-addition {
            background-color: #baeeba;
        }

        .hljs-deletion {
            background-color: #ffc8bd;
        }

        .hljs-selector-id,
        .hljs-selector-class {
            color: #9b703f;
        }

        .hljs-doctag,
        .hljs-strong {
            font-weight: bold;
        }

        .hljs-emphasis {
            font-style: italic;
        }
    </style>
    <style type="text/css" data-fela-rehydration="644" data-fela-type="KEYFRAME">
        @-webkit-keyframes k1 {
            0% {
                opacity: 0.8
            }

            50% {
                opacity: 0.5
            }

            100% {
                opacity: 0.8
            }
        }

        @-moz-keyframes k1 {
            0% {
                opacity: 0.8
            }

            50% {
                opacity: 0.5
            }

            100% {
                opacity: 0.8
            }
        }

        @keyframes k1 {
            0% {
                opacity: 0.8
            }

            50% {
                opacity: 0.5
            }

            100% {
                opacity: 0.8
            }
        }

        @-webkit-keyframes k2 {
            0% {
                transform: scale(1)
            }

            50% {
                transform: scale(1.1)
            }

            100% {
                transform: scale(1)
            }
        }

        @-moz-keyframes k2 {
            0% {
                transform: scale(1)
            }

            50% {
                transform: scale(1.1)
            }

            100% {
                transform: scale(1)
            }
        }

        @keyframes k2 {
            0% {
                transform: scale(1)
            }

            50% {
                transform: scale(1.1)
            }

            100% {
                transform: scale(1)
            }
        }
    </style>
    <style type="text/css" data-fela-rehydration="644" data-fela-type="RULE">
        .a {
            font-family: medium-content-sans-serif-font, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif
        }

        .b {
            font-weight: 400
        }

        .c {
            background-color: rgba(255, 255, 255, 1)
        }

        .l {
            display: block
        }

        .m {
            position: sticky
        }

        .n {
            top: 0
        }

        .o {
            z-index: 500
        }

        .p {
            padding: 0 24px
        }

        .q {
            align-items: center
        }

        .r {
            border-bottom: solid 1px #F2F2F2
        }

        .y {
            height: 41px
        }

        .z {
            line-height: 20px
        }

        .ab {
            display: flex
        }

        .ac {
            height: 57px
        }

        .ae {
            flex: 1 0 auto
        }

        .af {
            color: inherit
        }

        .ag {
            fill: inherit
        }

        .ah {
            font-size: inherit
        }

        .ai {
            border: inherit
        }

        .aj {
            font-family: inherit
        }

        .ak {
            letter-spacing: inherit
        }

        .al {
            font-weight: inherit
        }

        .am {
            padding: 0
        }

        .an {
            margin: 0
        }

        .ao {
            cursor: pointer
        }

        .ap:disabled {
            cursor: not-allowed
        }

        .aq:disabled {
            color: #6B6B6B
        }

        .ar:disabled {
            fill: #6B6B6B
        }

        .au {
            height: 25px
        }

        .av {
            fill: rgba(41, 41, 41, 1)
        }

        .aw {
            margin-left: 16px
        }

        .ax {
            border: none
        }

        .ay {
            border-radius: 20px
        }

        .az {
            width: 240px
        }

        .ba {
            background: #F9F9F9
        }

        .bb path {
            fill: #6B6B6B
        }

        .bd {
            outline: none
        }

        .be {
            font-family: sohne, "Helvetica Neue", Helvetica, Arial, sans-serif
        }

        .bf {
            font-size: 14px
        }

        .bg {
            width: 100%
        }

        .bh {
            padding: 10px 20px 10px 0
        }

        .bi {
            background-color: transparent
        }

        .bj {
            color: #242424
        }

        .bk::placeholder {
            color: #6B6B6B
        }

        .bl {
            display: inline-block
        }

        .bm {
            margin-left: 12px
        }

        .bn {
            margin-right: 12px
        }

        .bo {
            border-radius: 4px
        }

        .bp {
            margin-left: 24px
        }

        .bq {
            height: 24px
        }

        .bw {
            background-color: #F9F9F9
        }

        .bx {
            border-radius: 50%
        }

        .by {
            height: 32px
        }

        .bz {
            width: 32px
        }

        .ca {
            justify-content: center
        }

        .cg {
            max-width: 680px
        }

        .ch {
            min-width: 0
        }

        .ci {
            animation: k1 1.2s ease-in-out infinite
        }

        .cj {
            height: 100vh
        }

        .ck {
            margin-bottom: 16px
        }

        .cl {
            margin-top: 48px
        }

        .cm {
            align-items: flex-start
        }

        .cn {
            flex-direction: column
        }

        .co {
            justify-content: space-between
        }

        .cp {
            margin-bottom: 24px
        }

        .cv {
            width: 80%
        }

        .cw {
            background-color: #F2F2F2
        }

        .dc {
            height: 44px
        }

        .dd {
            width: 44px
        }

        .de {
            margin: auto 0
        }

        .df {
            margin-bottom: 4px
        }

        .dg {
            height: 16px
        }

        .dh {
            width: 120px
        }

        .di {
            width: 80px
        }

        .do {
            margin-bottom: 8px
        }

        .dp {
            width: 96%
        }

        .dq {
            width: 98%
        }

        .dr {
            width: 81%
        }

        .dx {
            margin: 0 24px
        }

        .eb {
            background: rgba(255, 255, 255, 1)
        }

        .ec {
            box-sizing: border-box
        }

        .ed {
            border: 1px solid #F2F2F2
        }

        .ee {
            box-shadow: 0 1px 4px #F2F2F2
        }

        .ef {
            max-height: 100vh
        }

        .eg {
            overflow-y: auto
        }

        .eh {
            position: absolute
        }

        .ei {
            left: 0
        }

        .ej {
            top: calc(100vh + 100px)
        }

        .ek {
            bottom: calc(100vh + 100px)
        }

        .el {
            width: 10px
        }

        .em {
            pointer-events: none
        }

        .et {
            margin-right: 4px
        }

        .eu {
            margin-top: 2px
        }

        .ev {
            box-sizing: content-box
        }

        .ey {
            color: #6B6B6B
        }

        .ez {
            word-break: break-word
        }

        .fa {
            word-wrap: break-word
        }

        .fb:after {
            display: block
        }

        .fc:after {
            content: ""
        }

        .fd:after {
            clear: both
        }

        .fe {
            line-height: 1.23
        }

        .ff {
            letter-spacing: 0
        }

        .fg {
            font-style: normal
        }

        .fh {
            font-weight: 700
        }

        .fx {
            margin-top: 0px
        }

        .fy {
            margin-bottom: -0.27em
        }

        .fz {
            line-height: 1.394
        }

        .gp {
            @media all and (max-width: 551.98px): 8px
        }

        .gq {
            @media all and (min-width: 552px) and (max-width: 727.98px): 8px
        }

        .gr {
            @media all and (min-width: 728px) and (max-width: 903.98px): 16px
        }

        .gs {
            @media all and (min-width: 904px) and (max-width: 1079.98px): 16px
        }

        .gt {
            @media all and (min-width: 1080px): 16px
        }

        .gz {
            align-items: baseline
        }

        .ha {
            width: 48px
        }

        .hb {
            height: 48px
        }

        .hc {
            border: 2px solid rgba(255, 255, 255, 1)
        }

        .hd {
            z-index: 0
        }

        .he {
            box-shadow: none
        }

        .hf {
            border: 1px solid rgba(0, 0, 0, 0.05)
        }

        .hh {
            position: relative
        }

        .hi {
            margin-bottom: 2px
        }

        .hj {
            flex-wrap: nowrap
        }

        .hk {
            font-size: 16px
        }

        .hl {
            line-height: 24px
        }

        .hn {
            margin-left: 2px
        }

        .ho {
            margin-top: 1px
        }

        .hp {
            cursor: initial
        }

        .hq {
            margin: 0 8px
        }

        .hr {
            display: inline
        }

        .hs {
            color: #1A8917
        }

        .ht {
            fill: #1A8917
        }

        .hu:disabled {
            opacity: 0.3
        }

        .hx {
            flex: 0 0 auto
        }

        .ia {
            flex-wrap: wrap
        }

        .ib {
            padding-left: 8px
        }

        .ic {
            padding-right: 8px
        }

        .jd>* {
            flex-shrink: 0
        }

        .je {
            overflow-x: scroll
        }

        .jf::-webkit-scrollbar {
            display: none
        }

        .jg {
            scrollbar-width: none
        }

        .jh {
            -ms-overflow-style: none
        }

        .ji {
            width: 74px
        }

        .jj {
            flex-direction: row
        }

        .jm {
            -webkit-user-select: none
        }

        .jn {
            border: 0
        }

        .jo {
            cursor: progress
        }

        .jp {
            fill: rgba(117, 117, 117, 1)
        }

        .js {
            opacity: 0.25
        }

        .jt {
            outline: 0
        }

        .ju {
            user-select: none
        }

        .jv>svg {
            pointer-events: none
        }

        .ke {
            font-size: 13px
        }

        .kf {
            margin-left: 4px
        }

        .kg {
            opacity: 1
        }

        .kh {
            padding: 4px 0
        }

        .ki {
            fill: #6B6B6B
        }

        .kl {
            width: 16px
        }

        .km {
            padding: 8px 2px
        }

        .kn svg {
            color: #6B6B6B
        }

        .le {
            margin-left: auto
        }

        .lf {
            margin-right: auto
        }

        .lg {
            max-width: 2500px
        }

        .lm {
            clear: both
        }

        .lo {
            cursor: zoom-in
        }

        .lp {
            z-index: auto
        }

        .lr {
            max-width: 100%
        }

        .ls {
            height: auto
        }

        .lt {
            margin-top: 10px
        }

        .lu {
            text-align: center
        }

        .lv {
            max-width: 728px
        }

        .ly {
            line-height: 1.58
        }

        .lz {
            letter-spacing: -0.004em
        }

        .ma {
            font-family: source-serif-pro, Georgia, Cambria, "Times New Roman", Times, serif
        }

        .mt {
            margin-bottom: -0.46em
        }

        .mx {
            list-style-type: disc
        }

        .my {
            margin-left: 30px
        }

        .mz {
            padding-left: 0px
        }

        .na {
            font-style: italic
        }

        .ng {
            max-width: 1440px
        }

        .nh {
            text-decoration: underline
        }

        .ni {
            border-top: none
        }

        .no {
            height: 52px
        }

        .np {
            max-height: 52px
        }

        .nq {
            position: static
        }

        .nr {
            z-index: 1
        }

        .nt {
            max-width: 155px
        }

        .nz {
            margin-right: 20px
        }

        .of {
            align-items: flex-end
        }

        .og {
            width: 76px
        }

        .oh {
            height: 76px
        }

        .oi {
            border: 2px solid #F9F9F9
        }

        .oj {
            height: 72px
        }

        .ok {
            width: 72px
        }

        .ol {
            color: #FFFFFF
        }

        .om {
            padding: 8px 16px
        }

        .on {
            fill: #FFFFFF
        }

        .oo {
            background: #1A8917
        }

        .op {
            border-color: #1A8917
        }

        .ot:disabled {
            cursor: inherit !important
        }

        .ou:disabled:hover {
            background: #1A8917
        }

        .ov:disabled:hover {
            border-color: #1A8917
        }

        .ow {
            border-radius: 99em
        }

        .ox {
            width: auto
        }

        .oy {
            border-width: 1px
        }

        .oz {
            border-style: solid
        }

        .pa {
            text-decoration: none
        }

        .pb {
            margin-left: 8px
        }

        .pc {
            stroke: #F2F2F2
        }

        .pd {
            height: 36px
        }

        .pe {
            width: 36px
        }

        .pf {
            color: #F2F2F2
        }

        .pg {
            fill: #F2F2F2
        }

        .ph {
            background: #F2F2F2
        }

        .pi {
            border-color: #F2F2F2
        }

        .po {
            font-weight: 500
        }

        .pp {
            font-size: 24px
        }

        .pq {
            line-height: 30px
        }

        .pr {
            letter-spacing: -0.016em
        }

        .py {
            margin-top: 8px
        }

        .pz {
            margin-top: 16px
        }

        .qa {
            height: 0px
        }

        .qb {
            border-bottom: solid 1px #E5E5E5
        }

        .qc {
            margin-top: 72px
        }

        .qd {
            padding: 24px 0
        }

        .qe {
            margin-bottom: 0px
        }

        .qf {
            margin-right: 16px
        }

        .qg {
            display: inline-flex
        }

        .qm {
            margin-bottom: 32px
        }

        .qn {
            margin-top: 40px
        }

        .qo {
            align-items: stretch
        }

        .ry {
            flex-grow: 0
        }

        .se {
            height: 100%
        }

        .sf {
            display: grid
        }

        .sg {
            grid-template-columns: repeat(12, 1fr)
        }

        .sh {
            grid-template-rows: auto 1fr
        }

        .ss {
            grid-area: image
        }

        .st {
            grid-area: content
        }

        .sz {
            border-radius: 2px
        }

        .ta {
            aspect-ratio: 2
        }

        .tb {
            object-fit: cover
        }

        .tc {
            object-position: 50% 50%
        }

        .ti {
            margin-right: 8px
        }

        .tj {
            box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.05)
        }

        .tk {
            height: 20px
        }

        .tl {
            width: 20px
        }

        .tm {
            padding-right: 4px
        }

        .tn {
            overflow: hidden
        }

        .to {
            max-height: 20px
        }

        .tp {
            text-overflow: ellipsis
        }

        .tq {
            display: -webkit-box
        }

        .tr {
            -webkit-line-clamp: 1
        }

        .ts {
            -webkit-box-orient: vertical
        }

        .tt {
            word-break: break-all
        }

        .uz {
            padding-top: 8px
        }

        .va {
            max-height: 40px
        }

        .vb {
            -webkit-line-clamp: 2
        }

        .vr {
            margin-left: 20px
        }

        .vs {
            justify-content: flex-end
        }

        .vt {
            flex: 0 0 0
        }

        .vu {
            margin-top: 32px
        }

        .wb {
            fill: #242424
        }

        .wc {
            background: 0
        }

        .wd {
            border-color: #242424
        }

        .wg:disabled:hover {
            color: #242424
        }

        .wh:disabled:hover {
            fill: #242424
        }

        .wi:disabled:hover {
            border-color: #242424
        }

        .wt {
            padding-bottom: 40px
        }

        .wu {
            padding-top: 88px
        }

        .xe {
            margin-bottom: 40px
        }

        .xf {
            margin-top: 4px
        }

        .xg {
            border-right: 3px solid #F9F9F9
        }

        .xh {
            z-index: 3
        }

        .xi {
            z-index: 2
        }

        .xj {
            margin-left: -24px
        }

        .xk {
            margin-left: -36px
        }

        .xl {
            border-radius: 0 3px 3px 0
        }

        .xm {
            width: 93px
        }

        .as:hover:not(:disabled) {
            color: rgba(25, 25, 25, 1)
        }

        .at:hover:not(:disabled) {
            fill: rgba(25, 25, 25, 1)
        }

        .hg:hover {
            background-color: rgba(0, 0, 0, 0.1)
        }

        .hm:hover {
            text-decoration: underline
        }

        .hv:hover:not(:disabled) {
            color: #156D12
        }

        .hw:hover:not(:disabled) {
            fill: #156D12
        }

        .jr:hover {
            fill: rgba(117, 117, 117, 1)
        }

        .kj:hover {
            fill: #000000
        }

        .kk:hover p {
            color: #000000
        }

        .ko:hover svg {
            color: #000000
        }

        .oq:hover {
            background: #156D12
        }

        .or:hover {
            border-color: #156D12
        }

        .os:hover {
            cursor: pointer
        }

        .pj:hover {
            background: #F2F2F2
        }

        .pk:hover {
            border-color: #F2F2F2
        }

        .pl:hover {
            cursor: wait
        }

        .pm:hover {
            color: #F2F2F2
        }

        .pn:hover {
            fill: #F2F2F2
        }

        .we:hover {
            color: #000000
        }

        .wf:hover {
            border-color: #242424
        }

        .bc:focus-within path {
            fill: #242424
        }

        .jq:focus {
            fill: rgba(117, 117, 117, 1)
        }

        .kp:focus svg {
            color: #000000
        }

        .lq:focus {
            transform: scale(1.01)
        }

        .jw:active {
            border-style: none
        }
    </style>
    <style type="text/css" data-fela-rehydration="644" data-fela-type="RULE" media="all and (min-width: 1080px)">
        .d {
            display: none
        }

        .bv {
            width: 64px
        }

        .cf {
            margin: 0 64px
        }

        .cu {
            height: 48px
        }

        .db {
            margin-bottom: 52px
        }

        .dn {
            margin-bottom: 48px
        }

        .dw {
            margin-bottom: 68px
        }

        .ea {
            max-width: 680px
        }

        .es {
            margin-top: 40px
        }

        .ex {
            display: flex
        }

        .fu {
            font-size: 42px
        }

        .fv {
            line-height: 52px
        }

        .fw {
            letter-spacing: -0.011em
        }

        .gm {
            font-size: 22px
        }

        .gn {
            margin-top: 0.92em
        }

        .go {
            line-height: 28px
        }

        .gy {
            align-items: center
        }

        .ip {
            border-top: solid 1px #F2F2F2
        }

        .iq {
            border-bottom: solid 1px #F2F2F2
        }

        .ir {
            margin: 32px 0 0
        }

        .is {
            padding: 3px 8px
        }

        .jb>* {
            margin-right: 24px
        }

        .jc> :last-child {
            margin-right: 0
        }

        .kd {
            margin-top: 0px
        }

        .ll {
            margin-top: 56px
        }

        .mp {
            font-size: 20px
        }

        .mq {
            margin-top: 2em
        }

        .mr {
            line-height: 32px
        }

        .ms {
            letter-spacing: -0.003em
        }

        .mw {
            margin-top: 2.14em
        }

        .nf {
            margin-top: 1.14em
        }

        .nn {
            margin-bottom: 88px
        }

        .ny {
            display: inline-block
        }

        .oe {
            padding-top: 72px
        }

        .px {
            flex: 0 0 auto
        }

        .ql {
            margin: 0
        }

        .rb {
            width: calc(100% + 32px)
        }

        .rc {
            margin-left: -16px
        }

        .rd {
            margin-right: -16px
        }

        .ru {
            padding-left: 16px
        }

        .rv {
            padding-right: 16px
        }

        .rw {
            flex-basis: 50%
        }

        .rx {
            max-width: 50%
        }

        .sd {
            padding-bottom: 56px
        }

        .sq {
            gap: 24px 0
        }

        .sr {
            grid-template-areas: "image image image image image image image image image image image image" "content content content content content content content content content content content content"
        }

        .sy {
            display: block
        }

        .th {
            margin-bottom: 16px
        }

        .ud {
            padding-bottom: 16px
        }

        .ue {
            flex: 1 0 auto
        }

        .uv {
            line-height: 24px
        }

        .uw {
            max-height: 48px
        }

        .ux {
            -webkit-line-clamp: 2
        }

        .uy {
            letter-spacing: 0
        }

        .vg {
            padding-top: 16px
        }

        .vp {
            max-width: 56%
        }

        .vq {
            flex: 1 0 0
        }

        .vx {
            margin-bottom: 24px
        }

        .wa {
            flex-direction: row
        }

        .wn {
            width: min-width
        }

        .ws {
            margin-top: 96px
        }

        .xb {
            font-size: 24px
        }

        .xc {
            line-height: 30px
        }

        .xd {
            letter-spacing: -0.016em
        }

        .xt {
            margin-top: 24px
        }

        .xu {
            margin-bottom: 56px
        }
    </style>
    <style type="text/css" data-fela-rehydration="644" data-fela-type="RULE" media="all and (max-width: 1079.98px)">
        .e {
            display: none
        }

        .kc {
            margin-top: 0px
        }

        .lw {
            margin-left: auto
        }

        .lx {
            text-align: center
        }

        .nx {
            display: inline-block
        }
    </style>
    <style type="text/css" data-fela-rehydration="644" data-fela-type="RULE" media="all and (max-width: 903.98px)">
        .f {
            display: none
        }

        .kb {
            margin-top: 0px
        }

        .nw {
            display: inline-block
        }
    </style>
    <style type="text/css" data-fela-rehydration="644" data-fela-type="RULE" media="all and (max-width: 727.98px)">
        .g {
            display: none
        }

        .jz {
            margin-top: 0px
        }

        .ka {
            margin-right: 0px
        }

        .nv {
            display: inline-block
        }
    </style>
    <style type="text/css" data-fela-rehydration="644" data-fela-type="RULE" media="all and (max-width: 551.98px)">
        .h {
            display: none
        }

        .s {
            display: flex
        }

        .t {
            justify-content: space-between
        }

        .br {
            width: 24px
        }

        .cb {
            margin: 0 24px
        }

        .cq {
            height: 40px
        }

        .cx {
            margin-bottom: 44px
        }

        .dj {
            margin-bottom: 32px
        }

        .ds {
            margin-bottom: 4px
        }

        .eo {
            margin-top: 32px
        }

        .fi {
            font-size: 32px
        }

        .fj {
            line-height: 38px
        }

        .fk {
            letter-spacing: -0.014em
        }

        .ga {
            font-size: 18px
        }

        .gb {
            margin-top: 0.79em
        }

        .gc {
            line-height: 24px
        }

        .gu {
            align-items: flex-start
        }

        .hy {
            flex-direction: column
        }

        .id {
            margin: 24px -24px 0
        }

        .ie {
            padding: 0
        }

        .it>* {
            margin-right: 8px
        }

        .iu> :last-child {
            margin-right: 24px
        }

        .jk {
            margin-left: 0px
        }

        .jx {
            margin-top: 0px
        }

        .jy {
            margin-right: 0px
        }

        .kq {
            border: 1px solid #F2F2F2
        }

        .kr {
            border-radius: 99em
        }

        .ks {
            padding: 0px 16px 0px 12px
        }

        .kt {
            height: 38px
        }

        .ku {
            align-items: center
        }

        .kw svg {
            margin-right: 8px
        }

        .lh {
            margin-top: 40px
        }

        .mb {
            margin-top: 1.56em
        }

        .mc {
            line-height: 28px
        }

        .md {
            letter-spacing: -0.003em
        }

        .nb {
            margin-top: 1.34em
        }

        .nj {
            margin-bottom: 80px
        }

        .nu {
            display: inline-block
        }

        .oa {
            padding-top: 48px
        }

        .ps {
            align-self: flex-end
        }

        .pt {
            flex: 0 0 auto
        }

        .qh {
            margin: 0
        }

        .qp {
            width: calc(100% + 24px)
        }

        .qq {
            margin-left: -12px
        }

        .qr {
            margin-right: -12px
        }

        .re {
            padding-left: 12px
        }

        .rf {
            padding-right: 12px
        }

        .rg {
            flex-basis: 100%
        }

        .rh {
            max-width: 100%
        }

        .rz {
            padding-bottom: 32px
        }

        .si {
            gap: 24px 0
        }

        .sj {
            grid-template-areas: "image image image image image image image image image image image image" "content content content content content content content content content content content content"
        }

        .su {
            display: block
        }

        .td {
            margin-bottom: 16px
        }

        .tv {
            padding-bottom: 16px
        }

        .tw {
            flex: 1 0 auto
        }

        .uf {
            font-size: 20px
        }

        .ug {
            max-height: 48px
        }

        .uh {
            -webkit-line-clamp: 2
        }

        .ui {
            letter-spacing: 0
        }

        .vc {
            padding-top: 16px
        }

        .vh {
            max-width: 56%
        }

        .vi {
            flex: 1 0 0
        }

        .wj {
            width: 100%
        }

        .wo {
            margin-top: 72px
        }

        .xn {
            margin-top: 16px
        }

        .kv:hover {
            border-color: #E5E5E5
        }
    </style>
    <style type="text/css" data-fela-rehydration="644" data-fela-type="RULE"
        media="all and (min-width: 904px) and (max-width: 1079.98px)">
        .i {
            display: none
        }

        .bu {
            width: 64px
        }

        .ce {
            margin: 0 64px
        }

        .ct {
            height: 48px
        }

        .da {
            margin-bottom: 52px
        }

        .dm {
            margin-bottom: 48px
        }

        .dv {
            margin-bottom: 68px
        }

        .dz {
            max-width: 680px
        }

        .er {
            margin-top: 40px
        }

        .ew {
            display: flex
        }

        .fr {
            font-size: 42px
        }

        .fs {
            line-height: 52px
        }

        .ft {
            letter-spacing: -0.011em
        }

        .gj {
            font-size: 22px
        }

        .gk {
            margin-top: 0.92em
        }

        .gl {
            line-height: 28px
        }

        .gx {
            align-items: center
        }

        .il {
            border-top: solid 1px #F2F2F2
        }

        .im {
            border-bottom: solid 1px #F2F2F2
        }

        .in {
            margin: 32px 0 0
        }

        .io {
            padding: 3px 8px
        }

        .iz>* {
            margin-right: 24px
        }

        .ja> :last-child {
            margin-right: 0
        }

        .lk {
            margin-top: 56px
        }

        .ml {
            font-size: 20px
        }

        .mm {
            margin-top: 2em
        }

        .mn {
            line-height: 32px
        }

        .mo {
            letter-spacing: -0.003em
        }

        .mv {
            margin-top: 2.14em
        }

        .ne {
            margin-top: 1.14em
        }

        .nm {
            margin-bottom: 88px
        }

        .od {
            padding-top: 72px
        }

        .pw {
            flex: 0 0 auto
        }

        .qk {
            margin: 0
        }

        .qy {
            width: calc(100% + 32px)
        }

        .qz {
            margin-left: -16px
        }

        .ra {
            margin-right: -16px
        }

        .rq {
            padding-left: 16px
        }

        .rr {
            padding-right: 16px
        }

        .rs {
            flex-basis: 50%
        }

        .rt {
            max-width: 50%
        }

        .sc {
            padding-bottom: 56px
        }

        .so {
            gap: 24px 0
        }

        .sp {
            grid-template-areas: "image image image image image image image image image image image image" "content content content content content content content content content content content content"
        }

        .sx {
            display: block
        }

        .tg {
            margin-bottom: 16px
        }

        .ub {
            padding-bottom: 16px
        }

        .uc {
            flex: 1 0 auto
        }

        .ur {
            line-height: 24px
        }

        .us {
            max-height: 48px
        }

        .ut {
            -webkit-line-clamp: 2
        }

        .uu {
            letter-spacing: 0
        }

        .vf {
            padding-top: 16px
        }

        .vn {
            max-width: 56%
        }

        .vo {
            flex: 1 0 0
        }

        .vw {
            margin-bottom: 24px
        }

        .vz {
            flex-direction: row
        }

        .wm {
            width: min-width
        }

        .wr {
            margin-top: 96px
        }

        .wy {
            font-size: 24px
        }

        .wz {
            line-height: 30px
        }

        .xa {
            letter-spacing: -0.016em
        }

        .xr {
            margin-top: 24px
        }

        .xs {
            margin-bottom: 56px
        }
    </style>
    <style type="text/css" data-fela-rehydration="644" data-fela-type="RULE"
        media="all and (min-width: 728px) and (max-width: 903.98px)">
        .j {
            display: none
        }

        .w {
            display: flex
        }

        .x {
            justify-content: flex-end
        }

        .bt {
            width: 64px
        }

        .cd {
            margin: 0 48px
        }

        .cs {
            height: 48px
        }

        .cz {
            margin-bottom: 52px
        }

        .dl {
            margin-bottom: 48px
        }

        .du {
            margin-bottom: 68px
        }

        .dy {
            max-width: 680px
        }

        .eq {
            margin-top: 40px
        }

        .fo {
            font-size: 42px
        }

        .fp {
            line-height: 52px
        }

        .fq {
            letter-spacing: -0.011em
        }

        .gg {
            font-size: 22px
        }

        .gh {
            margin-top: 0.92em
        }

        .gi {
            line-height: 28px
        }

        .gw {
            align-items: center
        }

        .ih {
            border-top: solid 1px #F2F2F2
        }

        .ii {
            border-bottom: solid 1px #F2F2F2
        }

        .ij {
            margin: 32px 0 0
        }

        .ik {
            padding: 3px 8px
        }

        .ix>* {
            margin-right: 24px
        }

        .iy> :last-child {
            margin-right: 0
        }

        .lj {
            margin-top: 56px
        }

        .mh {
            font-size: 20px
        }

        .mi {
            margin-top: 2em
        }

        .mj {
            line-height: 32px
        }

        .mk {
            letter-spacing: -0.003em
        }

        .mu {
            margin-top: 2.14em
        }

        .nd {
            margin-top: 1.14em
        }

        .nl {
            margin-bottom: 88px
        }

        .oc {
            padding-top: 72px
        }

        .pv {
            flex: 0 0 auto
        }

        .qj {
            margin: 0
        }

        .qv {
            width: calc(100% + 28px)
        }

        .qw {
            margin-left: -14px
        }

        .qx {
            margin-right: -14px
        }

        .rm {
            padding-left: 14px
        }

        .rn {
            padding-right: 14px
        }

        .ro {
            flex-basis: 50%
        }

        .rp {
            max-width: 50%
        }

        .sb {
            padding-bottom: 56px
        }

        .sm {
            gap: 24px 0
        }

        .sn {
            grid-template-areas: "image image image image image image image image image image image image" "content content content content content content content content content content content content"
        }

        .sw {
            display: block
        }

        .tf {
            margin-bottom: 16px
        }

        .tz {
            padding-bottom: 16px
        }

        .ua {
            flex: 1 0 auto
        }

        .un {
            line-height: 24px
        }

        .uo {
            max-height: 48px
        }

        .up {
            -webkit-line-clamp: 2
        }

        .uq {
            letter-spacing: 0
        }

        .ve {
            padding-top: 16px
        }

        .vl {
            max-width: 56%
        }

        .vm {
            flex: 1 0 0
        }

        .vv {
            margin-bottom: 24px
        }

        .vy {
            flex-direction: row
        }

        .wl {
            width: min-width
        }

        .wq {
            margin-top: 96px
        }

        .wv {
            font-size: 24px
        }

        .ww {
            line-height: 30px
        }

        .wx {
            letter-spacing: -0.016em
        }

        .xp {
            margin-top: 24px
        }

        .xq {
            margin-bottom: 56px
        }
    </style>
    <style type="text/css" data-fela-rehydration="644" data-fela-type="RULE"
        media="all and (min-width: 552px) and (max-width: 727.98px)">
        .k {
            display: none
        }

        .u {
            display: flex
        }

        .v {
            justify-content: space-between
        }

        .bs {
            width: 24px
        }

        .cc {
            margin: 0 24px
        }

        .cr {
            height: 40px
        }

        .cy {
            margin-bottom: 44px
        }

        .dk {
            margin-bottom: 32px
        }

        .dt {
            margin-bottom: 4px
        }

        .ep {
            margin-top: 32px
        }

        .fl {
            font-size: 32px
        }

        .fm {
            line-height: 38px
        }

        .fn {
            letter-spacing: -0.014em
        }

        .gd {
            font-size: 18px
        }

        .ge {
            margin-top: 0.79em
        }

        .gf {
            line-height: 24px
        }

        .gv {
            align-items: flex-start
        }

        .hz {
            flex-direction: column
        }

        .if {
            margin: 24px 0 0
        }

        .ig {
            padding: 0
        }

        .iv>* {
            margin-right: 8px
        }

        .iw> :last-child {
            margin-right: 8px
        }

        .jl {
            margin-left: 0px
        }

        .kx {
            border: 1px solid #F2F2F2
        }

        .ky {
            border-radius: 99em
        }

        .kz {
            padding: 0px 16px 0px 12px
        }

        .la {
            height: 38px
        }

        .lb {
            align-items: center
        }

        .ld svg {
            margin-right: 8px
        }

        .li {
            margin-top: 40px
        }

        .me {
            margin-top: 1.56em
        }

        .mf {
            line-height: 28px
        }

        .mg {
            letter-spacing: -0.003em
        }

        .nc {
            margin-top: 1.34em
        }

        .nk {
            margin-bottom: 80px
        }

        .ob {
            padding-top: 48px
        }

        .pu {
            flex: 0 0 auto
        }

        .qi {
            margin: 0
        }

        .qs {
            width: calc(100% + 24px)
        }

        .qt {
            margin-left: -12px
        }

        .qu {
            margin-right: -12px
        }

        .ri {
            padding-left: 12px
        }

        .rj {
            padding-right: 12px
        }

        .rk {
            flex-basis: 100%
        }

        .rl {
            max-width: 100%
        }

        .sa {
            padding-bottom: 32px
        }

        .sk {
            gap: 24px 0
        }

        .sl {
            grid-template-areas: "image image image image image image image image image image image image" "content content content content content content content content content content content content"
        }

        .sv {
            display: block
        }

        .te {
            margin-bottom: 16px
        }

        .tx {
            padding-bottom: 16px
        }

        .ty {
            flex: 1 0 auto
        }

        .uj {
            font-size: 20px
        }

        .uk {
            max-height: 48px
        }

        .ul {
            -webkit-line-clamp: 2
        }

        .um {
            letter-spacing: 0
        }

        .vd {
            padding-top: 16px
        }

        .vj {
            max-width: 56%
        }

        .vk {
            flex: 1 0 0
        }

        .wk {
            width: 100%
        }

        .wp {
            margin-top: 72px
        }

        .xo {
            margin-top: 16px
        }

        .lc:hover {
            border-color: #E5E5E5
        }